<?xml version="1.0"?>
<config>
    <modules>
        <Nexcessnet_Turpentine>
            <version>0.0.1</version>
        </Nexcessnet_Turpentine>
    </modules>
    <global>
        <blocks>
            <turpentine>
                <class>Nexcessnet_Turpentine_Block</class>
            </turpentine>
        </blocks>
        <helpers>
            <turpentine>
                <class>Nexcessnet_Turpentine_Helper</class>
            </turpentine>
        </helpers>
    </global>
    <admin>
        <routers>
            <Nexcessnet_Turpentine>
                <use>admin</use>
                <args>
                    <module>Nexcessnet_Turpentine</module>
                    <frontName>turpentine</frontName>
                </args>
            </Nexcessnet_Turpentine>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <turpentine translate="title" module="turpentine">
                <title>Turpentine</title>
                <sort_order>100</sort_order>
                <action>turpentine/admin</action>
                <children>
                    <servers translate="title" module="turpentine">
                        <title>Varnish Servers</title>
                        <action>turpentine/admin_servers</action>
                        <sort_order>0</sort_order>
                    </servers>
                    <control translate="title" module="turpentine">
                        <title>Cache Control</title>
                        <action>turpentine/admin_control</action>
                        <sort_order>10</sort_order>
                    </control>
                    <purge translate="title" module="turpentine">
                        <title>Cache Purging</title>
                        <action>turpentine/admin_purge</action>
                        <sort_order>100</sort_order>
                    </purge>
                </children>
            </turpentine>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <turpentine_servers translate="title" module="turpentine">
                                            <title>Turpentine Varnish Servers</title>
                                        </turpentine_servers>
                                        <turpentine_control translate="title" module="turpentine">
                                            <title>Turpentine Cache Options</title>
                                        </turpentine_control>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
