<?xml version="1.0"?>
<!--
    Nexcess.net Turpentine Extension for Magento
    Copyright (C) 2012  Nexcess.net L.L.C.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<config>
    <modules>
        <Nexcessnet_Turpentine>
            <version>0.0.2</version>
        </Nexcessnet_Turpentine>
    </modules>
    <default>
        <turpentine_servers>
            <backend>
                <backend_host>127.0.0.1</backend_host>
                <backend_port>80</backend_port>
            </backend>
            <servers>
                <version>auto</version>
                <server_list>127.0.0.1:6082</server_list>
                <config_file>{{root_dir}}/var/default.vcl</config_file>
            </servers>
            <debug>
                <headers>1</headers>
            </debug>
        </turpentine_servers>
        <turpentine_control>
            <general>
                <enable>1</enable>
            </general>
            <normalization>
                <encoding>1</encoding>
                <user_agent>1</user_agent>
                <host>0</host>
            </normalization>
            <ttls>
                <default_ttl>3600</default_ttl>
                <static_ttl>28800</static_ttl>
            </ttls>
            <urls>
                <url_blacklist><![CDATA[wishlist/.*
catalog/product_compare/.*
checkout/cart/add/.*
customer/.*
cron\.php]]></url_blacklist>
            </urls>
            <params>
                <get_params>__SID</get_params>
            </params>
            <static>
                <force_static>1</force_static>
                <exts>css,js,jpe?g,png,gif</exts>
            </static>
            <purging>
                <auto_purge_actions><![CDATA[catalog_product_save_after]]></auto_purge_actions>
            </purging>
            <cache_cookie>
                <cache_disable_actions><![CDATA[customer_login
wishlist_add_item
wishlist_add_product
customer_register_success
checkout_cart_add_product_complete
checkout_type_onepage_save_order
checkout_cart_product_add_before]]></cache_disable_actions>
            <set_initial_cookie>1</set_initial_cookie>
            </cache_cookie>
        </turpentine_control>
    </default>
    <global>
        <blocks>
            <turpentine>
                <class>Nexcessnet_Turpentine_Block</class>
            </turpentine>
        </blocks>
        <helpers>
            <turpentine>
                <class>Nexcessnet_Turpentine_Helper</class>
            </turpentine>
        </helpers>
        <models>
            <turpentine>
                <class>Nexcessnet_Turpentine_Model</class>
            </turpentine>
        </models>
        <events>
            <customer_logout>
                <observers>
                    <turpentine>
                        <class>turpentine/observer</class>
                        <method>enableVarnishCaching</method>
                    </turpentine>
                </observers>
            </customer_logout>
            <controller_action_predispatch_wishlist>
                <observers>
                    <turpentine>
                        <class>turpentine/observer</class>
                        <method>bypassVarnishCaching</method>
                    </turpentine>
                </observers>
            </controller_action_predispatch_wishlist>
            <controller_front_init_before>
                <observers>
                    <turpentine>
                        <class>turpentine/observer</class>
                        <method>registerEvents</method>
                    </turpentine>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <turpentine after="Mage_Adminhtml">Nexcessnet_Turpentine</turpentine>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <turpentine translate="title" module="turpentine">
                        <title>Varnish Management</title>
                        <action>adminhtml/varnish_management</action>
                        <sort_order>91</sort_order>
                    </turpentine>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <turpentine module="turpentine">
                    <file>turpentine.xml</file>
                </turpentine>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <turpentine translate="title" module="turpentine">
                                    <title>Turpentine Varnish Management</title>
                                </turpentine>
                                <config>
                                    <children>
                                        <turpentine_servers translate="title" module="turpentine">
                                            <title>Turpentine Varnish Options</title>
                                        </turpentine_servers>
                                        <turpentine_control translate="title" module="turpentine">
                                            <title>Turpentine Caching Options</title>
                                        </turpentine_control>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
