<?xml version="1.0"?>
<config>
    <tabs>
        <Nexcessnet_Turpentine translate="label" module="turpentine">
            <label>Turpentine</label>
            <sort_order>999999</sort_order>
        </Nexcessnet_Turpentine>
    </tabs>
    <sections>
        <turpentine_servers translate="label" module="turpentine">
            <label>Varnish Options</label>
            <tab>Nexcessnet_Turpentine</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <backend translate="label" module="turpentine">
                    <label>Backend</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <backend_host translate="label" module="turpentine">
                            <label>Backend Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backend_host>
                        <backend_port translate="label" module="turpentine">
                            <label>Backend Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backend_port>
                    </fields>
                </backend>
                <servers translate="label" module="turpentine">
                    <label>Servers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label" module="turpentine">
                            <label>Varnish Version</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_version</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <server_list translate="label" module="turpentine">
                            <label>Server List</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Should be a list of HOST:PORT pairs of the Varnish management interfaces, one per line</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </server_list>
                        <config_file translate="label" module="turpentine">
                            <label>Config File Location</label>
                            <frontend_type>text</frontend_type>
                            <comment>Specify where the Varnish VCL file should be saved</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </config_file>
                    </fields>
                </servers>
                <debug translate="label" module="turpentine">
                    <label>Debugging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <headers translate="label" module="turpentine">
                            <label>Debug Headers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_toggle</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </headers>
                    </fields>
                </debug>
            </groups>
        </turpentine_servers>
        <turpentine_control translate="label" module="turpentine">
            <label>Caching Options</label>
            <tab>Nexcessnet_Turpentine</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="turpentine">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label" module="turpentine">
                            <label>Caching Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_toggle</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                    </fields>
                </general>
                <normalization translate="label" module="turpentine">
                    <label>Normalization Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <encoding translate="label" module="turpentine">
                            <label>Normalize Encoding</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_toggle</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </encoding>
                        <user_agent translate="label" module="turpentine">
                            <label>Normalize User-Agent</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_toggle</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user_agent>
                        <host translate="label" module="turpentine">
                            <label>Normalize Host</label>
                            <frontend_type>select</frontend_type>
                            <source_model>turpentine/config_select_toggle</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>
                        <host_target translate="label" module="turpentine">
                            <label>Normalized Host Target</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-domain</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host_target>
                    </fields>
                </normalization>
                <ttls translate="lable" module="turpentine">
                    <label>TTLs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <default_ttl translate="label" module="turpentine">
                            <label>Default TTL (seconds)</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_ttl>
                        <url_ttls translate="label" module="turpentine">
                            <label>URL-based TTLs</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>List of regex and TTL (in seconds) comma-separated pairs (one per line)</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_ttls>
                    </fields>
                </ttls>
                <urls translate="label" module="turpentine">
                    <label>URL-based Caching</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url_whitelist translate="label" module="turpentine">
                            <label>URL Whitelist</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>List of relative URLs to exempt from blacklist, one per line</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_whitelist>
                        <url_blacklist translate="label" module="turpentine">
                            <label>URL Blacklist</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>List of relative URLs to exclude from caching. The admin section and API are automatically included</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_blacklist>
                    </fields>
                </urls>
                <params translate="label" module="turpentine">
                    <label>Parameter-based Caching</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <get_params translate="label" module="turpentine">
                            <label>GET Parameters</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma-separated list of GET variables that prevent caching</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </get_params>
                    </fields>
                </params>
                <purging translate="label" module="turpentine">
                    <label>Automatic Purging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <auto_purge_actions translate="label" module="turpentine">
                            <label>Automatic Purge Actions</label>
                            <frontend_type>multiselect</frontend_type>
                            <can_be_empty>1</can_be_empty>
                            <comment>Actions that should trigger an automatic cache purge</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_purge_actions>
                    </fields>
                </purging>
            </groups>
        </turpentine_control>
    </sections>
</config>
